<div id="users-show-wrapper" class="clearfix">
  <div id="profile-picture">
    <%= image_tag @user.profile_picture.url() if @user.profile_picture.present? %>
    
  </div>

  <div id="description">
    <h3><%= @user.name %></h3> 
    <h4>Position : <%= @user.role %></h4>
    <h4>Party : <%= @user.party %></h4>    
  </div>
  <div style="clear:both;"></div>
  <div id="about">
    <h3>About</h3>
    <p><%= @user.details %></p>
  </div> 
</div>

