<!DOCTYPE html>
<html>
<head>
  <title>Community</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



  
  <div id="content-wrapper">
    <header>
      <div id="header-inner" class="clearfix">
        <div id="logo">
          <%= image_tag("logo.png") %>
        </div>
        <nav>
          <%= link_to "Home", root_path %>
          <%= link_to "Login", login_path %>
          <%= link_to "Suggest", "" %>
        </nav>
      </div>
    </header> 
    
    <% if flash[:notice] %>
      <p class="flash-notice"><%= flash[:notice] %></p>
    <% end %>
    <%= yield %> 
    <footer>
      <div id="footer-inner">
        <p>&copy; copyright</p>
      </div>
    </footer>
  </div>

</body>
</html>
